/* estilos.css */

:root {
    --fondo: #434e52;
    --color1: #5b8c85;
    --hover1: #ecce6d;
    --hover2: #b0a160;
    --blanco: #FFF;
    --gris: #CCC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-family: 'Raleway', sans-serif; 
    font-size: 60px;
    color: var(--fondo);
    padding: 150px 0px 45px 160px;
}

h3 {
    font-family: 'Raleway', sans-serif; 
    font-size: 40px;
    color: var(--fondo);    
    display: block;
}

body {
    background-color: var(--fondo);
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    scroll-behavior: smooth;    
}

.inicio {
    margin-top: 30px;
    height: 1024px;
    max-width: 100%;    
    background-image: url(images/background-top.jpg);
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}


/*
        ------------------------------------------------
                        Menu Principal
        ------------------------------------------------

*/

.inicio-logo {    
    width: 100px;
    height: 100px;
}

.topmenu {
    background-color: var(--fondo);
    margin: 0 auto;
    padding: 8px 0px 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.menu-lista {    
    width: 950px;    
    list-style: none;
    justify-content: center;
    margin: 0 auto;
    padding-left: 40px;
}

.menu-lista a {
    float: left;
    padding: 10px 50px;
    display: block;
    color: var(--blanco);
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;    
    transition: all 0.5s ease;       
}

.menu a:hover {
    color: var(--hover1);
}


.hola {
    height: 550px;
    width: 750px;      
    font-size: 30px;    
    color: var(--blanco);
    font-family: 'Raleway', sans-serif;   
    line-height: initial;
    text-shadow: 1px 2px 4px #000;
    position: absolute;
    top: 450px;
    left: 150px;
    animation:
        aparece linear 1.5s;                
}

@keyframes aparece {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }        
    100% {
        opacity: 100;
    }
}

/*
    ----------------------------------------------
                        Quien soy
    ----------------------------------------------
*/

.who {    
    height: 1200px;
    max-width: 100%;
    margin: 0px auto;
    background-color: var(--blanco);
}

.texto-img-wrapper,
.what-texto-imag-wrapper {
    display: flex;
    justify-content: center;
}

.who-texto,
.what-texto{
    width: 750px;
    height: 500px;    
    line-height : 45px;           
}

.who-imag img,
.what-imag img {    
    width: 500px;
    height: 500px;
    margin-left: 30px;
    filter: drop-shadow(1px 2px 4px var(--fondo))
}


.texto-img-wrapper img {
    animation: 
        intercambio ease 3s infinite alternate;    
}

@keyframes intercambio {
    0% {
        opacity: 100;
    }
    75% {
        opacity: 0;
    }
}

.who-habcv {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 55px;
}

.who-habcv img {
    width: 50px;
    height: 50px;    
}

.habilidades,
.cv {
    width: 500px;
    height: 500px;
    margin: 55px;
}

.habilidades-titulo,
.cv-titulo,
.what-dis_titulo,
.what-pack_titulo,
.what-dig_titulo,
.what-pro_titulo {
    display: grid;
    grid-template-columns: 1fr 366px;
    align-items: center;
    width: 420px;
}

.habilidades-text,
.cv-text,
.grafico-text,
.pack-text,
.dig-text,
.pro-text  {
    margin: 10px 0 0 25px;
}

.cv a {    
    width: 200px;
    display: block;
    height: 75px;    
    line-height: 70px;
    text-align: center;
    margin: 20px 20px 0px 220px;
    text-decoration: none;
    border: 2px solid var(--gris);
    font-size: 17px;
    color: var(--fondo);
    transition: all 0.5s ease;    
}

.cv a:hover {
    background-color: var(--color1);
    color: var(--blanco);
}

/*
    ----------------------------------------------
                        Servicios
    ----------------------------------------------
*/

.what {    
    height: 1200px;
    max-width: 100%;
    margin: 0px auto;
    background-color: var(--color1);
}

.what h2 {
    color: var(--blanco);
}

.what-texto p,
.what-detalles p {
    color: var(--blanco)
}

.what-detalles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 45px auto;
    width: 800px;
    height: 400px;
    column-gap: 10px;
    row-gap: 15px;    
}

.what-detalles h3 {
    width: 480px;
    color: var(--hover1);
}